/* Remove the outline around the focused input */
*:focus {
  outline: none;
}

/* Root of the app - equivalent of body */
#root {
  background: #ffffff;
  display: flex;
  justify-content: center;
}

/* main content container */
#content {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 4em;
  font-family: Inter;
}

/* form stuff */
form {
  display: flex;
  flex-direction: column;

  font-size: 0.9em;
}
#input-form {
  width: 100%;
}
#form-container {
  display: flex;
  justify-content: center;

  align-items: center;
  min-height: 12em;

  width: 90%;
  background: #ffffff;

  color: black;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;

  padding: 0 5% 0 5%;
}
#form-checkboxes {
  display: flex;
  justify-content: space-around;
}
#form-options {
  display: flex;
  justify-content: space-even;
  align-items: center;

  margin-top: 1em;
}
#bandname-submit {
  height: 2.4em;
  width: 10em;

  border: solid;
  border-width: 0.1em;
  border-radius: 2em;
  border-color: #f93753;
  color: #f93753;

  font-size: 1em;
  font-weight: 800;

  background: white;

  transition-duration: 0.1s;
}
#bandname-submit:hover {
  background: #f93753;
  color: white;
}
input[type="text"] {
  height: 3rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding-left: 1.3em;

  font-size: 2em;
}
.type-radio {
  display: flex;
  align-items: center;
  margin-right: 2em;
}
