/* bandname chunk */
#chunks {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 3em;
  font-family: Inter;
  padding: 0;
}
.chunk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 8em;

  margin: 0 0 2em 0;
  padding: 0 0 0 4em;

  box-sizing: border-box;

  background: #ffffff;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
}
.name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;

  color: #222222;

  margin-bottom: 0.3em;
}
.extras {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 9em;
  height: 1.5em;
}
.type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 3.9rem;
  height: 1.7rem;

  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.3em;

  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}
.band {
  color: #f93753;
  border-color: #f93753 !important;
}
.song {
  color: #001aff;
  border-color: #001aff !important;
}
.album {
  color: #a6d81a;
  border-color: #a6d81a !important;
}
.search {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;

  color: #222222;

  margin-left: 0.7em;
}
a:link {
  text-decoration: none;
}

.bg-band {
  background: #f93753 !important;
}
.bg-song {
  background: #001aff !important;
}
.bg-album {
  background: #a6d81a !important;
}
