<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title>Bandname</title><!-- Links  -->
  <link rel="stylesheet" href=
  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity=
  "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css"
  media="screen">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity=
  "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous" type="text/javascript">
</script>
  <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity=
  "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous" type="text/javascript">
</script>
  <script src=
  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity=
  "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous" type="text/javascript">
</script>
  <link href=
  "https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|Fredoka+One&amp;display=swap"
  rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9" type=
  "text/javascript">
</script>
</head>

<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col">
        <div id="typed-strings">
          <p>band</p>

          <p>album</p>

          <p>song</p>
        </div>

        <h1 class="text-center">Great <span id="typed" class=
        "typing"></span> name...</h1>
      </div>
    </div>
    <hr>

    <form action="/" method="get">
      <div class="form-row align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-6">
          <input type="text" name="name" class="form-control mb-6"
          placeholder="Input idea">
        </div>

        <div class="col-lg-2">
          <select name="nametype" class=
          "custom-select my-1 mr-sm-2">
            <option selected value="band">
              band
            </option>

            <option value="album">
              album
            </option>

            <option value="song">
              song
            </option>
          </select>
        </div>

        <div class="col-lg-2">
          <button type="submit" class=
          "btn btn-secondary">Submit</button>
        </div>
      </div>

      <div class="col-lg-1"></div>
    </form>
    <hr>
    {% for entry in entries%}

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card p-0 cell {{entry.which}}">
              <div class="card-header">
                <b class="text-uppercase">{{entry.which}}</b>
                <a href=
                "https://www.google.com/search?as_q={{entry.name}}&amp;as_epq=&amp;as_oq=&amp;as_eq=&amp;as_nlo=&amp;as_nhi=&amp;lr=&amp;cr=&amp;as_qdr=all&amp;as_sitesearch=&amp;as_occt=any&amp;safe=images&amp;as_filetype=&amp;as_rights=">
                <small>Search</small></a> <a href=
                "https://www.google.com/search?as_st=y&amp;tbm=isch&amp;as_q={{entry.name}}&amp;as_epq=&amp;as_oq=&amp;as_eq=&amp;imgsz=&amp;imgar=&amp;imgc=&amp;imgcolor=&amp;imgtype=&amp;cr=&amp;as_sitesearch=&amp;safe=images&amp;as_filetype=&amp;as_rights=">
                <small>Images</small></a>
              </div>

              <div class="card-body text-center">
                <h3 class="card-text wow">{{entry.name}}</h3>
              </div>

              <div class="card-footer">
                <form class="m-0" action="/" method="get">
                  <input type="hidden" name="delete" value=
                  "{{entry.id}}"> <button type="submit" class=
                  "btn btn-secondary"><small>Delete</small></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>{% endfor %}

    <div id="footer" class="row">
      <div class="col text-center">
        <small>no copyright, you've earned it!</small>
      </div>
    </div>
  </div><script type="text/javascript">
var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
    typeSpeed: 70,
    backDelay: 1900,
    loop: true,
    showCursor: false,
    });
  </script>
</body>
</html>
