body {
  background: #ffffff;
}
form {
  display: flex;
  flex-direction: column;

  font-size:0.9em;
}

/* header */
#title {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 3.5em;
  color: #ffffff;
}
#header {
  position: fixed;
  height: 8em;
  width: 100vw;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #222222;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

/* main contents */
#content {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 9.0em;
  font-family: Inter;
}
#chunks {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 3.0em;
  font-family: Inter;

}

/* form stuff */
#input-form {
width: 100%;
}
#form-container {
  display:flex;
  justify-content: center;

  align-items: center;
  width: 95%;
  height: 12em;

  background: #ffffff;

  border: 0.1em solid rgba(0,0,0,0.1);
  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;

  padding: 0 3em 0 3em;
}
#form-checkboxes {
  display: flex;
  justify-content: space-around;
}
#form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1em;
}
#bandname-submit {
  height: 2.4em;
  width: 10em;

  border: solid;
  border-width: 0.1em;
  border-radius: 2em;
  border-color: #f93753;
  color: #f93753;

  font-size: 12pt;
  font-weight: 800;

  background: white;

  transition-duration: 0.1s;
}
#bandname-submit:hover {
  background: #f93753; 
  color: white;
}
input[type="text"] {
  height: 3rem;
  border: 0.15rem solid rgba(0,0,0,0.1);
  border-radius: 2rem;
  padding-left: 1.3em;

  font-size: 2em;
}
.type-radio {
  display: flex;
  margin-right: 2em;
}

/* bandname chunk */
.chunk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 8em;

  margin: 0 0 2em 0;
  padding: 0 0 0 4em;

  box-sizing: border-box;

  background: #ffffff;
  border: 0.1em solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
}
.name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2.0em;

  color: #222222;

  margin-bottom: 0.3em;
}
.extras {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 9em;
  height: 1.5em;

  margin: 0px 1em;
}
.type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 3.9rem;
  height: 1.7rem;

  box-sizing: border-box;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.3em; 

  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}
.band {
  color: #f93753;
  border-color: #f93753;
}
.song {
  color: #001aff;
  border-color: #001aff;
}
.album {
  color: #fa6511;
  border-color: #fa6511;
}
.search {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;

  color: #222222;

  margin-left: 0.7em;
}

