.band {
  background: pink;
}
.song {
  background: orange;
}
.album {
  background: lightblue;
}
body {
  margin: 0;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
.content {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.item {
  /* Fonts  */
  font-family: "Sen", sans-serif;
  font-size: 2.2em;

  /* Background  */
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.75);

  /* Flex  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* Shape  */
  padding: 0.3em 2em 0.3em 2em;
  margin: 1% 0% 1% 2%;

  /* Borders */
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgb(255, 255, 255, 0)
  );
  border-image-slice: 1;

  /* Animation  */
  transition: all, 1s;
}

.item:hover {
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  align-items: flex-end;
}

.item p {
  margin: 0 0 0 0;
}

#input {
  margin-top: 7em;
}

#form {
  display: flex;
  width: 100%;
  height: 30px;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}

input {
  display: flex;
  align-items: center;

  background: white;
  border: 1px solid;

  /* Padding */
  padding: 0.5%;

  /* Margins */
  margin-left: 1%;
  margin-right: 1%;
}

select {
  background: white;
  border: 1px solid;

  /* Margins */
  margin-left: 1%;
  margin-right: 1%;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

button {
  background: white;
  border: 1px solid;

  /* Margins */
  margin-left: 1%;
  margin-right: 1%;
}

button:hover {
  background: black;
  color: white;
}

#header {
  position: fixed;
  top: 0;
  z-index: 1;

  font-family: "Sen", sans-serif;
  font-size: 60px;

  background: black;
  color: white;
  box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.75);

  align-items: center;
  display: flex;
  justify-content: center;

  height: 100px;
  width: 100%;
}
