<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bandnames</title><!-- Links  -->
        <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&amp;family=Libre+Barcode+39+Text&amp;display=swap" rel="stylesheet" />
        <meta content="A band name recording tool" name="description">
        <meta content="Art Eidukas" name="author">
        <meta content="width=display-width, initial-scale=1" name="viewport">
    </head>
    <body>
        <div id="header">
            <p id="title">bandnames</p>
        </div>
        <div id="content">
            <div id="form-container">
                <form method="post" id="input-form" action="/newband">
                    <input type="text" id="bandname-input" name="bandname-input" value="" placeholder="Submit your idea..." autocomplete="off" autofocus/>
                    <div id="form-options">
                        <div id="form-checkboxes">
                            <div class="type-radio">
                                <p for="type-band">Band</p>
                                <input type="radio" id="type-band" name="input-type" value="band"/>
                            </div>
                            <div class="type-radio">
                                <p for="type-song">Song</p>
                                <input type="radio" id="type-song" name="input-type" value="song"/>
                            </div>
                            <div class="type-radio">
                                <p for="type-album">Album</p>
                                <input type="radio" id="type-album" name="input-type" value="album"/>
                            </div>
                        </div>
                    <input type="submit" id="bandname-submit" name="bandname-submit" value="Submit" />
                    </div>
                </form>
            </div>
            <div id="chunks">
                <div class="chunk">
                    <div class="name">The authority of a high vis jacket</div>
                    <div class="extras">
                        <div class="type-container band">
                                Band
                        </div>
                        <div class="search">Search -></div>
                    </div>
                </div>
                <div class="chunk">
                    <div class="name">The authority of a high vis jacket</div>
                    <div class="extras">
                        <div class="type-container song">
                                song
                        </div>
                        <div class="search">Search -></div>
                    </div>
                </div>
                <div class="chunk">
                    <div class="name">The authority of a high vis jacket</div>
                    <div class="extras">
                        <div class="type-container album">
                                Album
                        </div>
                        <div class="search">Search -></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
