<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>band</title><!-- Links  -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Sen:wght@700&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
</head>
<body class="preload">
  <div class="content">
    <div id="header">
      <p>bandnames</p>
    </div>
    <div id="input">
      <hr />
      <form action="/" method="get">
        <div id="form">
          <input class="grow-2" type="text" name="name" placeholder="Input idea" /> <select class="grow-1" name="nametype">
            <option selected="selected" value="band">
              band
            </option>
            <option value="album">
              album
            </option>
            <option value="song">
              song
            </option>
          </select> <button class="grow-1" type="submit">Submit</button>
        </div>
      </form>
      <hr />
    </div>
    <div class="container">
      {% for entry in entries%}
      <div class="item {{entry.which}}">
        <p>{{entry.name}}</p>
      </div>{% endfor %}
    </div>
  </div>
</body>
</html>
