{% extends "base" %}
{% block chunks %}
{% for name in names %}
<div class="chunk">
  <div class="name">{{ name.name }}</div>
  <div class="extras">
    <div class="type-container {{ name.which }}">
      <p>{{ name.which }}</p>
    </div>
    <a class="search" href="https://www.google.com/search?q={{ name.name }} {{ name.which }}">Search -></a>
  </div>
</div>
{% endfor %}
{% endblock %}
