<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Bandnames</title><!-- Links  -->
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&amp;family=Libre+Barcode+39+Text&amp;display=swap" rel="stylesheet" />
</head>
<body>
  <div id="header">
    <p id="title">bandnames</p>
  </div>
  <div id="content">
      <div id="left">
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
          <div class="chunk">
              <div class="inner-chunk">
                  <div class="name">The authority of a high vis jacket</div>
                  <div class="extras">
                      <div class="type-container">
                          <div class="type">
                              Band
                          </div>
                      </div>
                      <div class="search">Search -></div>
                  </div>
              </div>
          </div>
      </div>
      <div id="right">
          <div id="form-container">
              
          </div>
      </div>
  </div>
</body>
</html>
